body {
  background: url("/white-flower2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: red
}

p {
  color: white;
  font-size: 25px;
}

h1 {
  font-weight: bold;
}

a {
  font-size: 30px;
  color: aqua
}

